extends ../../layout.pug

block navbar-options
    li.nav-item.active
        a.nav-link(href='/') Home
    li.nav-item
        a.nav-link(href='/use-cases/fluentbit') Description
    li.nav-item.active
        a.nav-link(href='/use-cases/fluentbit/how2run') How to reproduce
    li.nav-item
        a.nav-link(href='/use-cases/fluentbit/portfolio') Portfolio

block content
    h2(style='text-align: center;') Fluent Bit use case
    h4(style='text-align: center;') How to reproduce

    p
        | This page describes how to reproduce the results presented in the paper for two setups:
        ul
            li <strong>Vanilla</strong>: without tracing I/O events
            //- li <strong>strace</strong>: tracing system calls with strace
            li <strong>DIO</strong>: tracing and analyzing system calls with DIO

    h5 Fluent Bit configuration

    ul
        li <strong>Source code:</strong>
            a(href='https://github.com/fluent/fluent-bit.git', style='color: blue;', target='_blank')  https://github.com/fluent/fluent-bit.git
        li <strong>Commits:</strong> 
            ul
                li for the erroneous access patterns: e6506b7b5364c77bec186d94e51c4b3b51e6fbac
                li for the correct access patterns:   ba2c0d70ab5fb32a10e7b920e0ea821b7fb9b259

        li <strong>Env Configurations (mounting a new file system):</strong>
            pre.codesnippet.
                dd if=/dev/zero of=disk.img bs=1M count=128
                mkfs.ext4 disk.img
                mkdir -p /fluent-bit/tests/mnt
                mount -o loop disk.img /fluent-bit/tests/mnt

        li <strong>Configurations (<em>fluentbit.conf</em>):</strong>
            pre.codesnippet.
                [SERVICE]
                    Flush        5
                    Daemon       On
                    Log_Level    trace

                [INPUT]
                    Name tail
                    Tag  examplelogs
                    DB   exampledb
                    Path /fluent-bit/tests/mnt/*.log
                    Mem_Buf_Limit     5MB
                    Skip_Long_Lines   Off
                    Refresh_Interval  10

                [OUTPUT]
                    Name  stdout
                    Match *


    h5 Client application
    ul
        li <strong>Description:</strong> A simple C program that:
            ol
                li creates a file named app.log, writes 26 bytes to it and closes it.
                li waits for 10 seconds.
                li removes the file.
                li waits for 10 seconds.
                li creates a new file named app.log, writes 16 bytes to it and closes it.

    h5 DIO configuration
    ul
        li <strong>Tracer Configurations:</strong>
            ul
                li Filter events by specific Process IDs (<code>--pid</code>):
                ul
                    li Fluent Bit's PID
                    li Client app's PID
                li Filter events by file paths (<code>target_paths</code>):
                ul
                    li RocksDB folder: <code>/rocksdb/test/kvstore</code>

    h5 Docker images
    ul
        li <strong>Image:</strong> 
            a(href='https://hub.docker.com/r/taniaesteves/dio-fluentbit', style='color: blue;', target='_blank') taniaesteves/dio-fluentbit
            ul 
                li TAG "v1.4.0" - Fluent Bit v1.4.0 with the erroneous access pattern
                li TAG "v2.0.5" - Fluent Bit v2.0.5 with the correct access pattern
        li <strong>Run test:</strong>
            ul
                li <strong>Vanilla</strong>:
                xmp docker run -it --rm --name fluentbit  --pid=host --privileged --cap-add=ALL --net=host -v /lib/modules:/lib/modules -v /usr/src:/usr/src -v /sys/kernel/debug/:/sys/kernel/debug/ taniaesteves/dio-fluentbit:v1.4.0


                //- li <strong>strace</strong>:
                //- xmp docker run -it --rm --name fluentbit  --pid=host --privileged --cap-add=ALL --net=host -v /lib/modules:/lib/modules -v /usr/src:/usr/src -v /sys/kernel/debug/:/sys/kernel/debug/ -v strace_data:/strace_data taniaesteves/dio-fluentbit:v1.4.0 strace


                li <strong>DIO</strong>:
                xmp docker run -it --rm --name fluentbit  --pid=host --privileged --cap-add=ALL --net=host -v /lib/modules:/lib/modules -v /usr/src:/usr/src -v /sys/kernel/debug/:/sys/kernel/debug/ -v dio_data:/dio_data -v dio.yaml:/usr/share/dio/conf/config.yaml -v /tmp/dio/:/tmp/dio/ -e CORRELATE_PATHS=true -e ES_URL=<DIO_ES_URL>:<DIO_ES_PORT>  taniaesteves/dio-fluentbit:v1.4.0 dio
