extends ../layout.pug

block navbar-options
    li.nav-item.active
        a.nav-link(href='/') Home
    li.nav-item
        a.nav-link(href='/redis') Description
    li.nav-item.active
        a.nav-link(href='/redis/how2run') How to reproduce
    li.nav-item
        a.nav-link(href='/redis/portfolio') Portfolio

block content
    h2(style='text-align: center;') Redis use case
    h4(style='text-align: center;') How to reproduce

    p
        | This page describes how to reproduce the results presented in the paper for four setups:
        ul
            li <strong>Vanilla</strong>: without tracing I/O events
            li <strong>Strace</strong>: tracing system calls with Strace tool
            li <strong>Sysdig</strong>: tracing system calls with Sysdig tool
            li <strong>DIO</strong>: tracing and analyzing system calls with DIO

    h5 Redis configuration

    ul
        li <strong>Repository:</strong>
            a(href='https://github.com/redis/redis.git', style='color: blue;')  https://github.com/redis/redis.git
        li <strong>Commit (v1):</strong> e9ae03787e0a2e0484914737f82bfe216f8e9d52
        li <strong>Commit (v2):</strong> d4c8dff7c36a345a1958eb13da1e626af68ec52d
        li <strong>Configurations:</strong>
            ul
                li <code>protected-mode no</code>
                li <code>loglevel debug</code>
                li <code>logfile /dio_data/redis.log</code>

    h5 Benchmark configuration
    ul
        li <strong>Benchmark:</strong> redis-benchmark
        li <strong>Configurations:</strong>
            ul
                li Number of requests: 5,000,000 (<code>-n 5000000</code>)
                li Random keys: 5,000,000 (<code>-r 5000000</code>)

    h5 DIO configuration
    ul
        li <strong>Tracer Configurations:</strong>
            ul
                li Filter events by file paths (<code>target_paths</code>):
                    ul
                        li redis folder: <code>"/redis"</code>
                        li redis log file: <code>"/dio_data/redis.log"</code>

    h5 Docker images
    ul
        li <strong>Image:</strong> 
            a(href='https://hub.docker.com/r/taniaesteves/redis_dio', style='color: blue;', target='_blank') taniaesteves/redis_dio
            ul 
                li TAG "v1" - Redis with the inefficient access pattern
                li TAG "v2" - Redis with the correct access pattern
                
        li <strong>Run Redis server:</strong>
            ul
                li <strong>Vanilla</strong>:
                xmp docker run -it -d --name redis-server  --pid=host --privileged --cap-add=ALL --net=host -v /lib/modules:/lib/modules -v /usr/src:/usr/src -v /sys/kernel/debug/:/sys/kernel/debug/ taniaesteves/redis_dio:v1

                li <strong>Strace</strong>:
                xmp docker run -it -d --name redis-server  --pid=host --privileged --cap-add=ALL --net=host -v /lib/modules:/lib/modules -v /usr/src:/usr/src -v /sys/kernel/debug/:/sys/kernel/debug/ -v /tmp/strace_data:/strace_data taniaesteves/redis_dio:v1 strace

                li <strong>Sysdig</strong> (run along the vanilla command):
                xmp docker run -it -d --name sysdig --privileged -v /var/run/docker.sock:/host/var/run/docker.sock -v /dev:/host/dev -v /proc:/host/proc:ro -v /boot:/host/boot:ro -v /lib/modules:/host/lib/modules:ro -v /usr:/host/usr:ro -v /tmp/sysdig_data:/home --net=host -e SYSDIG_BPF_PROBE="" sysdig/sysdig:0.31.4 sysdig -B -t a -p "*%evt.num %evt.outputtime %evt.cpu %proc.name (%thread.tid) %evt.dir %evt.type %evt.rawres %evt.args" container.name="redis-server" and "evt.type in ('"'open','openat','creat','read','pread','readv','write','pwrite','writev','lseek','truncate','ftruncate','rename','renameat','renameat2','close','unlink','unlinkat','stat','fstat','lstat','fstatfs','newfstatat','setxattr','getxattr','listxattr','removexattr','lsetxattr','lgetxattr','llistxattr','lremovexattr','fsetxattr','fgetxattr','flistxattr','fsync','fdatasync','readlink','readlinkat','mknod','mknodat'"')" and "fd.type in  ('"'file','directory'"')" -s 1 -w /home/sysdig_trace.scap

                li <strong>DIO</strong>:
                xmp docker run -it -d --name redis-server  --pid=host --privileged --cap-add=ALL --net=host -v /lib/modules:/lib/modules -v /usr/src:/usr/src -v /sys/kernel/debug/:/sys/kernel/debug/ -v /tmp/dio_data:/dio_data -e CORRELATE_PATHS=true -e ES_URL=<ES_URL> taniaesteves/redis_dio:v1 dio

        li <strong>Run Redis benchmark</strong>:
        xmp docker run -it --rm --name redis-bench --pid=host --privileged --cap-add=ALL --net=host -v /lib/modules:/lib/modules -v /usr/src:/usr/src -v /sys/kernel/debug/:/sys/kernel/debug/ taniaesteves/redis_dio:v1 benchmark