extends ../../layout.pug

block navbar-options
    li.nav-item.active
        a.nav-link(href='/') Home
    li.nav-item
        a.nav-link(href='/use-cases/elasticsearch') Description
    li.nav-item.active
        a.nav-link(href='/use-cases/elasticsearch/how2run') How to reproduce
    li.nav-item
        a.nav-link(href='/use-cases/elasticsearch/portfolio') Portfolio

block content
    h2(style='text-align: center;') Elasticsearch use case
    h4(style='text-align: center;') How to reproduce

    p
        | This page describes how to reproduce the results presented in the paper for four setups:
        ul
            li <strong>Vanilla</strong>: without tracing I/O events
            li <strong>Strace</strong>: tracing system calls with Strace tool
            li <strong>Sysdig</strong>: tracing system calls with Sysdig tool
            li <strong>DIO</strong>: tracing and analyzing system calls with DIO

    h5 Elasticsearch configuration

    ul
        li <strong>Source code:</strong>
            a(href='https://github.com/elastic/elasticsearch/releases/tag/v8.3.0', style='color: blue;')  https://github.com/elastic/elasticsearch/releases/tag/v8.3.0
        li <strong>Version:</strong> 8.3.0
        li <strong>Configurations <em>(elasticsearch.yml)</em>:</strong>
            ul
                li <code>xpack.security.enabled: false</code>
                li <code>discovery.type: single-node</code>
                li <code>network.host: 0.0.0.0</code>

    h5 Benchmark configuration
    ul
        li <strong>Benchmark:</strong> Rally
        li <strong>Repository:</strong>
            a(href='https://esrally.readthedocs.io/en/stable/install.html', style='color: blue;')  https://esrally.readthedocs.io/en/stable/install.html
        li <strong>Docker image:</strong> elastic/rally
        li <strong>Configurations:</strong>
            ul
                li workload: geonames (<code>--track=geonames</code>)
                li pipeline: benchmark-only (<code>--pipeline=benchmark-only</code>)
                li target host: local elasticsearch instance (<code>--target-hosts=localhost:9200</code>)

    h5 DIO configuration
    ul
        li <strong>Tracer Configurations:</strong>
            ul
                li Filter events by file paths (<code>target_paths</code>):
                ul
                    li Elasticsearch folder: <code>/usr/share/elasticsearch-8.3.0-SNAPSHOT</code>

    h5 Docker images
    ul
        li <strong>Docker image:</strong>
            a(href='https://hub.docker.com/r/taniaesteves/elasticsearch_dio', style='color: blue;', target='_blank')  taniaesteves/elasticsearch_dio:v1.0.0
        li <strong>Run Elasticsearch server:</strong>
            ul
                li <strong>Vanilla</strong>:
                xmp docker run -it -d --name es830 --pid=host --privileged --cap-add=ALL --net=host -v /lib/modules:/lib/modules -v /usr/src:/usr/src -v /sys/kernel/debug/:/sys/kernel/debug/ taniaesteves/elasticsearch_dio:v1.0.0

                li <strong>strace</strong>:
                xmp docker run -it -d --name es830 --pid=host --privileged --cap-add=ALL --net=host -v /lib/modules:/lib/modules -v /usr/src:/usr/src -v /sys/kernel/debug/:/sys/kernel/debug/ -v /tmp/strace_data:/strace_data taniaesteves/elasticsearch_dio:v1.0.0 strace

                li <strong>Sysdig</strong> (run along the vanilla command):
                xmp docker run -it -d --name sysdig --privileged -v /var/run/docker.sock:/host/var/run/docker.sock -v /dev:/host/dev -v /proc:/host/proc:ro -v /boot:/host/boot:ro -v /lib/modules:/host/lib/modules:ro -v /usr:/host/usr:ro -v /tmp/sysdig_data:/home --net=host -e SYSDIG_BPF_PROBE="" sysdig/sysdig:0.31.4 sysdig -B -t a -p "*%evt.num %evt.outputtime %evt.cpu %proc.name (%thread.tid) %evt.dir %evt.type %evt.rawres %evt.args" container.name=es830 and "evt.type in ('"'open','openat','creat','read','pread','readv','write','pwrite','writev','lseek','truncate','ftruncate','rename','renameat','renameat2','close','unlink','unlinkat','stat','fstat','lstat','fstatfs','newfstatat','setxattr','getxattr','listxattr','removexattr','lsetxattr','lgetxattr','llistxattr','lremovexattr','fsetxattr','fgetxattr','flistxattr','fsync','fdatasync','readlink','readlinkat','mknod','mknodat'"')" -s 1 -w /home/sysdig_trace.scap

                li <strong>DIO</strong>:
                xmp docker run -it -d --name es830 --pid=host --privileged --cap-add=ALL --net=host -v /lib/modules:/lib/modules -v /usr/src:/usr/src -v /sys/kernel/debug/:/sys/kernel/debug/ -v /tmp/dio_data:/dio_data -e CORRELATE_PATHS=true -e ES_URL=<ES_URL> taniaesteves/elasticsearch_dio:v1.0.0 dio --target_paths /usr/share/elasticsearch-8.3.0-SNAPSHOT

        li <strong>Run Elasticsearch benchmark</strong>:
        ul
            li
                xmp docker run --rm  --net=host elastic/rally race --track=geonames  --pipeline=benchmark-only --target-hosts=localhost:9200